*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5; /* Esta é uma cor cinza claro */
}

/* Menu */
.menu {
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); /* Aumente o desfoque e a propagação para mais profundidade */
    padding: 10px;
}

.menu h2 {
    font-weight: bold;
    color: #023E7C;
    margin-left: 1dvw;
}

#menu {
    display: flex; /* Ativa o Flexbox */
}

#title-assinador{
    margin-top: 1dvh;
}
/* circulo */
.circulo {
    width: 25dvw;
    height: 50dvh;
    background-color: #023E7C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5dvh;
}

.div-center{
    margin: 0;
    display: flex;
    justify-content: center;
}
/* botões */
.botao-assinar {
    background-color: #023E7C; /* Cor de fundo azul */
    color: white; /* Texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 10cap ; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    width: 30cap;
}

.botao-validar {
    background-color: transparent; 
    color: #023E7C; /* Texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 10cap ; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    border: 1px solid #023E7C;
    width: 30cap;
}

.div-botoes{
    margin: 2dvh 0 0 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Isso faz com que os botões sejam empilhados verticalmente */
    gap: 10px; /* Isso adiciona um espaço entre os botões */
}


.botao-assinar:hover {
    background-color: #026ad2; /* Uma cor verde mais escura para o hover */
}

.botao-validar:hover {
    background-color: #cecece; /* Uma cor azul mais escura para o hover */
}

/* Form Assinar */
.div-form-assinador{
    width: 20dvw;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.div-form-assinador label {
    display: block;
    margin-top: 20px;
}

.div-form-assinador input[type="text"],
.div-form-assinador .input-file {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1dvh;
}

.div-form-assinador .input-file {
    border: 1px dashed;
    text-align: center;
    background-color: #ddd; /* Fundo cinza claro do input de arquivo */
}

#assinar-arquivo{
 width: 15dvw;
 margin-left: 2dvw;
}

.form-flex{
    display: grid;
}

.center {
    margin-top: 10dvh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 1dvh;
}
  
#file-input {
    display: none;
}  

/* Footer */
.footer-azul {
    background-color: #023E7C; /* Cor azul do footer */
    padding: 1cap 0; /* Espaçamento interno vertical */
    width: 100%; /* O footer se estenderá por toda a largura da página */
    position: absolute; /* Posiciona o footer no final da página */
    bottom: 0; /* Alinha o footer na parte inferior da página */
}
