*{
    margin: 0;
    padding: 0;
}

#form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: auto;
    border: 1px solid red;
    justify-content: center;
    gap: 10px;
}

.nameText, .numberInput{
    height: 20px;
    border-radius: 10px;
}

.fileInput{
    width: 500px;
    border: 1px solid red;
    border-radius: 10px;
}